body {
  background: #202124;
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
  font-family: arial, sans-serif;
}

.navbar-google {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 13px;
  padding-left: 15px;
}

.navbar-item-goggle {
  margin: 10px;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

a:hover {
  color: white;
  text-decoration: underline;
}

a:active {
  color: white;
}

.center-div {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.searchbar {
  display: flex;
  color: white;
  z-index: 3;
  height: 44px;
  background: #202124;
  border: 1px solid #5f6368;
  box-shadow: none;
  border-radius: 24px;
  margin: 0 auto;
  width: calc(632px + 6px);
  width: 584px;
  max-width: 584px;
  margin-top: 20px;
}

.searchbar:hover {
  background-color: #3b3b3c;
  outline: none;
  display: flex;
  color: #e8eaed;
  z-index: 3;
  height: 44px;
  background: #3b3b3c;
  border: 1px solid transparent;
  box-shadow: none;
  border-radius: 24px;
  margin: 0 auto;
  width: calc(632px + 6px);
  width: 584px;
  max-width: 584px;
  margin-top: 20px;
}

.search {
  background-color: #303134;
  border: 1px solid #303134;
  border-radius: 4px;
  color: #e8eaed;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 11px 6px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.search:hover {
  border: 1px solid white;
}

.advanced {
  color: #f28b82;
  font-size: 20px;
  margin: 25px 35px;
}

.line {
  border-bottom: 1px solid #ebebeb;
  border-color: #3c4043;
}

.advanced2 {
  font-size: 16px;
  color: white;
  font-family: arial, sans-serif;
}

.div-advanced {
  margin: 35px;
}

.row-input {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left {
  width: 200px;
  color: #bdc1c6;
  font-family: arial, sans-serif;
  font-size: 13px;
}

.form-input {
  width: 385px;
  height: 25px;
  background: #202124;
  border: 1px solid #5f6368;
  color: #bdc1c6;
}

.searchicon {
    margin-top: 3px;
    width: 20px;
    display: block;
    
}

.btn {
  background: #8ab4f8;
  border-color: #8ab4f8;
  color: black;
  cursor: default;
  line-height: 100%;
  height: 30px;
  min-width: 120px;
  padding: 0 12px;
  box-shadow: none;
  font-weight: bold;
  border: 1px solid #8ab4f8;
}

.btn:hover {
  border: 1px solid #3079ed;
  background: #8ab4f8;
}

.button {
  margin: 0px 456px;
  margin-top: 10px;
}



